/*********MOBIL*************/
/***** GENERELT / RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;

}

body {
    background-color: #cedbb3;
}

main {
    margin: 10vw;
}

footer {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}

img {
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
}

/***** FONT *****/
/* BOLD */
/*
font-family: proxima-nova,sans-serif;
font-weight: 700;
font-style: normal;
*/

/* REGULAR */
/*
font-family: proxima-nova,sans-serif;
font-weight: 400;
font-style: normal;
*/

h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: #f29f05;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: #84a540;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: underline;
}

h3 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.375em;
    /*22px*/
    color: #84a540;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h4 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25em;
    /*20px*/
    color: #84a540;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h5 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    /*18px*/
    color: #84a540;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p,
.beskrivelse1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    /*16px*/
    color: #000000;

    line-height: 1.5em;
}

h2 + p {
    margin-bottom: 30px;
}


h3 + .beskrivelse1 {
    margin-bottom: 30px;
}

p + h5,
p + h4,
p + h3 {
    margin-top: 30px;
}

/***** LINKS *****/
/*
a:link {
    text-decoration: none;
    color: #F29F05;
}

a:hover {
    color: #F8F8F8;
}
*/


/***** HEADER + NAVIGATION *****/
ul {
    list-style: none;
}

a {
    text-decoration: none;

}

ul li a {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f8f8f8;
}

header {
    position: sticky;
    top: 0;
    background: rgb(206, 219, 179);
    background: linear-gradient(180deg, rgba(206, 219, 179, 1) 0%, rgba(206, 219, 179, 1) 25%, rgba(168, 191, 120, 1) 50%, rgba(168, 191, 120, 1) 75%, rgba(132, 165, 64, 1) 100%);
    width: 100vw;
    z-index: 1000;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 65rem;
    padding: 0 2rem;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 3rem;
}

.nav-btn {
    flex: 3;
    display: flex;
}

.nav-links {
    flex: 2;
}

.language {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
}

.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link > a {
    /*    line-height: 3rem;*/
    color: #fff;
    padding: 30px .8rem;
    letter-spacing: 1px;
    font-size: 1.10em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.nav-link > a > i {
    margin-left: .2rem;
}

.nav-link:hover > a {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown.third {
    width: 15rem;
}

.dropdown ul {
    position: relative;
}

.dropdown-link > a {
    display: flex;
    background-color: #A6C078;
    color: white;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.dropdown-link:not(:nth-last-child(1)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link:hover > a {
    background-color: #f29f05;
    color: #f8f8f8;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    cursor: pointer;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: white;
    border-radius: 3px;
}

.hamburger-menu div:before {
    transform: translateY(-7px)
}

.hamburger-menu div:after {
    transform: translateY(7px)
}

#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 9000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

/***** PRAKTISK INFO *****/
ol li {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #000000;
    line-height: 1.5em;
}

li {

    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #000000;
    line-height: 1.5em;
}

.wp-block-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

wp-block-column {
    flex-basis: 600px;
    flex-grow: 1;
}


/***** FOOTER *****/
footer {
    background: rgb(206, 219, 179);
    background: linear-gradient(180deg, rgba(206, 219, 179, 1) 0%, rgba(206, 219, 179, 1) 25%, rgba(168, 191, 120, 1) 50%, rgba(168, 191, 120, 1) 75%, rgba(132, 165, 64, 1) 100%);
    box-shadow: 0px -15px 8px rgba(0, 0, 0, 0.1);
}

.footer-left,
.footer-center {
    margin-bottom: 50px;

}

.footer-icons img {
    display: block;
    width: 20%;
    margin: 0 auto 20px;
}

.footer-icons2 img {
    display: block;
    width: 30%;
    margin: 0 auto 20px;
}

/***** KNAPPER *****/
.wp-block-button,
.button {
    background-color: #F29F05;
    color: #F8F8F8;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.375em;
    width: auto;
    height: 45px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 30px;

    margin: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wp-block-button__link,
button {
    color: #F8F8F8;
    text-decoration: none;
}

/***** NAVIGATION / MOBIL MENU / MEDIAQ *****/

@media (max-width: 920px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #A8BF78;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links > ul {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
    }

    .nav-link > a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a {
        text-decoration: underline;
    }

    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #7a8b55;
        display: none;
    }

    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #525d3a;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }


    .dropdown-link > a {
        background-color: transparent;
        color: white;
        padding: 1.2rem 2rem;
    }

    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(1)) {
        border-bottom: none;
    }

    dropdown-link:hover > a {
        background-color: white;
        color: #A6C078;
    }


    .language {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
    }
}

/***** FORSIDE ******/

/* FORSIDE - SPLASH */
.wp-block-image size-large splash .wp-image-200 {
    margin-bottom: 20px;
}

/* FORSIDE - VÆRDIER */
.frontpage-values-parent {
    margin-bottom: 50px;
}

.frontpage-values {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f8f8f8;

}

/* FORSIDE - ELEVUDTALELSER */
.person-1,
.person-2,
.person-3 {
    margin-bottom: 50px;
}

.person-1 {
    margin-top: 100px;
}

.person-3 {
    margin-bottom: 100px;
}

.person-1 p,
.person-2 p,
.person-3 p {
    text-align: center;
    color: #f8f8f8;
    font-size: 2em;
}

.person-1 img,
.person-2 img,
.person-3 img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    display: flex;
}

/* KONTAKT SIDE */

/* OM SIDE */
.personale-pods img {
    margin-bottom: 10px;
}

.personale-pods h3,
.personale-pods p {
    text-align: center;
}

/*JEAN MOBIL*/






/* OM SIDE */
.personale-pods img {
    width: 20%;
}

.personale-pods {
    display: flex;
    flex-wrap: wrap;
}





.wp-block-button:hover {
    background-color: #F29F05;
    box-shadow: 0px 8px 15px rgba(60, 60, 60, 0.3);
    color: #F8F8F8;
    transform: translateY(-5px);
}

footer {
    display: flex;
    margin-bottom: 0;
}

footer > div {
    flex: 1;
}

.footer-right {
    text-align: center;
}
}

/***** MEDIA QUERY DESKTOP SLUT *****/
